.h1 {
    
    text-size-adjust: 100 px;

}

.lista1{

    text-shadow: 20px;
    background-color: rgb(248, 8, 8);
}

.lista2 {

    background-color: aqua;
    text-align: center;

}
